@font-face {
    font-family: biotif;
    src: url(./fonts/biotif.ttf) format('truetype');
    font-display: swap; /* this loads a system font while the font is loading */
}

body {
    background-color: black;
    color: white;
    font-family: biotif;
}

img.avatar {
    display: block;
    margin: auto;
    border-style:solid;
    border-radius: 50%;
    border-color:purple;
}

a {
    color: white;
}

a:hover {
    color:purple;
}